@import '../../../styles/variables.scss';

.main-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: $black;
    text-decoration: none;

    .sidebar {
        .border-display {
            padding: 10px 0 10px 10px;
            border-bottom: 1px solid $border;
        }

        a {
            text-decoration: none;
            color: $white-gray;

            &.active {
                color: $primary
            }
        }

    }


}


/* Responsive CSS */
@media only screen and (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
    }
}