<aside class="main-sidebar">
    <div class="sidebar">
        <nav>
            <div *ngFor="let menuItem of menuItems">
                <a [class.active]="menuItem.route == 'home'"
                    [routerLink]="menuItem.route  ?  '/' +  menuItem.route : null"
                    [routerLinkActive]="(menuItem.route && menuItem.route != 'home')  ? 'active' : ''">
                    <div class="border-display content-item">
                        {{menuItem.title}}
                    </div>
                </a>
            </div>
        </nav>
    </div>
</aside>