$primary: #191718 !default;
$bg: #ecebf1 !default;
$border: rgb(216, 216, 216) !default;
$gray: rgb(124, 124, 124) !default;
$dark-gray: rgb(78, 78, 78) !default;
$light-gray: rgb(172, 172, 172) !default;
$white-gray: rgb(238, 238, 238) !default;
$lightgreen: #25D366 !default;